In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize']=20,10
from keras.models import Sequential
from keras.layers import LSTM,Dropout,Dense
from sklearn.preprocessing import MinMaxScaler

In [36]:
df = pd.read_csv('resultados mega - Página1.csv')

In [37]:
df.head()

,Concurso,data,Coluna1,Coluna2,Coluna3,Coluna4,Coluna5,Coluna6,Ganhadores Faixa 1,Ganhadores Faixa 2,...,Rateio Faixa 1,Rateio Faixa2,Rateio Faixa 3,Cidade,Valor Arrecadado,Estimativa para o próximo concurso,Valor Acumulado Próximo Concurso,Acumulado,Sorteio Especial,Observação
0,1,11/03/1996,4,5,30,33,41,52,0,17,...,"R$0,00","R$39.158,92","R$330,21",NaN,"R$0,00","R$0,00","R$1.714.650,23",Sim,Não,NaN
1,2,18/03/1996,9,37,39,41,43,49,1,65,...,"R$2.307.162,23","R$14.424,02","R$208,91",PR,"R$0,00","R$0,00","R$0,00",Não,Não,NaN
2,3,25/03/1996,10,11,29,30,36,47,2,62,...,"R$391.192,51","R$10.515,93","R$153,01",RN SP,"R$0,00","R$0,00","R$0,00",Não,Não,NaN
3,4,01/04/1996,1,5,6,27,42,59,0,39,...,"R$0,00","R$15.322,24","R$180,48",NaN,"R$0,00","R$0,00","R$717.080,75",Sim,Não,NaN
4,5,08/04/1996,1,2,6,16,19,46,0,98,...,"R$0,00","R$5.318,10","R$96,53",NaN,"R$0,00","R$0,00","R$1.342.488,85",Sim,Não,NaN

In [38]:
df.columns

Index(['Concurso', 'data', 'Coluna1', 'Coluna2', 'Coluna3', 'Coluna4',
       'Coluna5', 'Coluna6', 'Ganhadores Faixa 1', 'Ganhadores Faixa 2',
       'Ganhadores Faixa 3', 'Rateio Faixa 1', 'Rateio Faixa2',
       'Rateio Faixa 3', 'Cidade', 'Valor Arrecadado',
       'Estimativa para o próximo concurso',
       'Valor Acumulado Próximo Concurso', 'Acumulado', 'Sorteio Especial',
       'Observação'],
      dtype='object')

In [39]:
df = df[['Concurso', 'data', 'Coluna1', 'Coluna2', 'Coluna3',
       'Coluna4', 'Coluna5', 'Coluna6']]

In [40]:
df['data'] = pd.to_datetime(df.data,format="%d/%m/%Y")

In [41]:
df.dtypes

Concurso             int64
data        datetime64[ns]
Coluna1              int64
Coluna2              int64
Coluna3              int64
Coluna4              int64
Coluna5              int64
Coluna6              int64
dtype: object

In [42]:
df.index = df['Concurso']

In [43]:
df = df.sort_index(ascending=True,axis=0)